{{!-- Doctor login  --}}

<div class='container mx-auto py-8'>
  <div class='w-full md:w-1/2 mx-auto'>
    <h2 class='text-2xl font-semibold mb-4'>Doctor Login</h2>

    <form class='w-full login-form'>
      <div class='mb-4'>
        <label for='email-login' class='block text-gray-700'>Email:</label>
        <input
          type='text'
          id='email-login'
          class='form-input w-full px-4 py-2 rounded-md focus:outline-none focus:ring focus:border-blue-500'
        />
      </div>
      <div class='mb-4'>
        <label
          for='password-login'
          class='block text-gray-700'
        >Password:</label>
        <input
          type='password'
          id='password-login'
          class='form-input w-full px-4 py-2 rounded-md focus:outline-none focus:ring focus:border-blue-500'
        />
      </div>
      <div class='mb-4'>
        <button
          type='submit'
          class='px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600'
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>

<script src='./js/doctorLogin.js'></script>