<div class='container'>
  <h2>Welcome, {{name}}!</h2>
  <h3>Medical Certificate Requests:</h3>

  {{#if medical_certificates.length}}
    <div class='col-md-6 med-cert-list'>
      <h3>Medical Certificate Requests:</h3>

      {{#each medical_certificates as |medCert|}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <h4>{{medCert.reason}}</h4>
          </div>
          <div class='col-md-4'>
            <div class='approve-button'>
              <button
                class='btn btn-sm btn-success'
                data-id='{{medCert.certificate_id}}'
              >Patient Info</button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src='./js/doctorProfile.js'></script>