{{!-- <div class='row mb-4 project'>
  <div class='col-md-5'>

    <h2>
      <a href='/patient-login'>Paitent Login</a>
    </h2>
    <h2>
      <a href='/doctor-login'>Doctor Login</a>
    </h2>
  </div>

</div> --}}

<div class='row mb-4 project'>
  <div class='col-md-6 offset-md-3'> <!-- Center the content -->

    <h2 class="text-center">Welcome to Sickie.com</h2>

    <div class="text-center">
      <a class="btn btn-primary" href='/patient-login'>Patient Login</a>
      <a class="btn btn-secondary" href='/doctor-login'>Doctor Login</a>
    </div>
  </div>
</div>
