<div class='grid grid-cols-1 md:grid-cols-2 gap-8'>
  <!-- Patient Login -->
  <div class='p-6 bg-white rounded-lg shadow-lg'>
    <h2 class='text-2xl font-semibold mb-4'>Patient Login</h2>
    <form class='form login-form space-y-4'>
      <div class='space-y-2'>
        <label
          for='email-login'
          class='block text-sm font-medium text-gray-700'
        >Email:</label>
        <input
          class='w-full px-4 py-2 border rounded-md focus:ring focus:ring-blue-500 focus:outline-none'
          type='text'
          id='email-login'
        />
      </div>
      <div class='space-y-2'>
        <label
          for='password-login'
          class='block text-sm font-medium text-gray-700'
        >Password:</label>
        <input
          class='w-full px-4 py-2 border rounded-md focus:ring focus:ring-blue-500 focus:outline-none'
          type='password'
          id='password-login'
        />
      </div>
      <div class='flex items-center justify-between'>
        <button
          class='px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600'
          type='submit'
        >Login</button>
      </div>
    </form>
  </div>

  <!-- Patient Signup -->
  <div class='p-6 bg-white rounded-lg shadow-lg'>
    <h2 class='text-2xl font-semibold mb-4'>Patient Signup</h2>
    <form class='form new-patient-form space-y-4'>
      <div class='space-y-2'>
        <label
          for='patient-name'
          class='block text-sm font-medium text-gray-700'
        >Full Name:</label>
        <input
          class='w-full px-4 py-2 border rounded-md focus:ring focus:ring-blue-500 focus:outline-none'
          type='text'
          id='patient-name'
        />
      </div>
      <div class='space-y-2'>
        <label
          for='email-signup'
          class='block text-sm font-medium text-gray-700'
        >Email:</label>
        <input
          class='w-full px-4 py-2 border rounded-md focus:ring focus:ring-blue-500 focus:outline-none'
          type='text'
          id='email-signup'
        />
      </div>
      <div class='space-y-2'>
        <label
          for='password-signup'
          class='block text-sm font-medium text-gray-700'
        >Password:</label>
        <input
          class='w-full px-4 py-2 border rounded-md focus:ring focus:ring-blue-500 focus:outline-none'
          type='text'
          id='password-signup'
        />
      </div>
      <button
        id='passwordGenerator'
        class='px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600'
        type='submit'
      >Generate Password</button>
      <div class='flex items-center justify-between'>
        <button
          class='px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600'
          type='submit'
        >Signup</button>
      </div>
    </form>
  </div>
</div>
<script src='./js/patientLogin.js'></script>