<div class='container'>

  <h2>Here are the medical certificate requests for {{patient.name}}</h2>
  <h3>Medical Certificate Requests:</h3>

  <div class='col-md-6 med-cert-list'>

    <div class='row mb-2'>
      <div class='col-md-8'>
        <h4>{{reason}}</h4>
      </div>
      <div class='col-md-4'>

        <button
          class='btn btn-sm btn-success approve-button'
          data-id='{{certificate_id}}'
        >APPROVE</button>

        <button
          class='btn btn-sm btn-danger delete-button'
          data-id='{{certificate_id}}'
        >DELETE</button>
      </div>
    </div>

  </div>

</div>

<script src='./js/doctorAndPatient.js'></script>